In [2]:
import pandas as pd
import warnings
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
import pickle

warnings.filterwarnings('ignore')

np.random.seed(123)

data = pd.read_csv('/Users/joelfoo/Documents/carouhack_car_price/data/sgcm-ads.csv')
data.columns

Index(['make model', 'rid', 'source_url', 'id', 'dl', 'make', 'model',
       'vehicle_type', 'car_registration_date', 'listing_price',
       'depreciation', 'category_1', 'engine_cap', 'transmission', 'mileage',
       'no_of_owners', 'coe', 'omv', 'arf', 'availability', 'posted_on',
       'last_updated_on', 'company_name', 'road_tax', 'category_2',
       'category_3'],
      dtype='object')

In [3]:
df = data[['make model', 'car_registration_date', 'coe', 'no_of_owners', 'mileage', 'arf', 'depreciation']]

In [4]:
# feature engineering

df['car_registration_date'] = pd.to_datetime(df['car_registration_date']) 
df['days_since_reg'] = (pd.to_datetime('today') - df['car_registration_date']).dt.days

df['mileage_per_year'] = df['mileage']/(df['days_since_reg']/365)
df['good_mileage'] = df['mileage_per_year']/1000 <= 15

In [56]:
# limit dataset to top 10 cars
top_10 = ['Honda Vezel 1.5A X',
          'Toyota Corolla Altis 1.6A',
          'Volkswagen Golf 1.4A TSI',
          'Toyota Wish 1.8A', 
          'BMW 5 Series 520i',
          'Mazda 5 2.0A Sunroof',
          'Volkswagen Jetta 1.4A TSI',
          'Volkswagen Scirocco 1.4A TSI',
          'Audi A4 1.8A TFSI MU',
          'Mercedes-Benz C-Class C180 Avantgarde'
         ]


df = df[(df['make model'].isin(top_10))].dropna()

model_dict = {}
for m in top_10:
    model_dict[m] = {"lower": None,
                     "upper": None,
                    "predicted": None}

55094.5 59177.0

In [68]:
state = np.random.seed(123)

for make_model in top_10:
    df_m = df[df['make model'] == make_model]
    
    mileage_processed = []
    for i in range(len(df_m['mileage'])):
        mileage = df_m['mileage'].iloc[i]
        if  mileage == 0:
            mileage_processed.append(df_m['days_since_reg'].iloc[i] / 365 * 15000)
        else:
            mileage_processed.append(mileage)

    df_m['mileage'] = mileage_processed
    
    train, test = train_test_split(df_m, test_size=0.3)

    coeff_list = ['coe', 'no_of_owners', 'arf', 'mileage', 'good_mileage', 'days_since_reg']

    x_train = train[coeff_list]
    y_train = train[['depreciation']]

    x_test = test[coeff_list]
    y_test= test[['depreciation']]
    
    #print(make_model)
    #print(y_train)
    
    # GradientBoost
    r0 = GradientBoostingRegressor(loss='quantile', alpha=0.95,
                                   n_estimators= 10,
                                   max_features = 'auto',
                                   random_state=state)
    r0.fit(x_train, y_train)
    #model_dict[make_model]["upper"] = pickle.dumps(r0)
    y_upper = r0.predict(x_test)

    r0.set_params(alpha=1-0.95)
    r0.fit(x_train,y_train)
    #model_dict[make_model]["lower"] = pickle.dumps(r0)
    y_lower = r0.predict(x_test)

    r0.set_params(loss='ls')
    r0.fit(x_train, y_train)
    #model_dict[make_model]["predicted"] = pickle.dumps(r0)
    y_pred0 = r0.predict(x_test)


    y_test['lower'] = y_lower
    y_test['pred'] = y_pred0
    y_test['upper'] = y_upper
    
    y_test

In [7]:
f = open('/Users/joelfoo/Documents/carouhack_car_price/data/model.pkl', 'wb')
pickle.dump(model_dict, f)
f.close()

In [8]:
model_dict = pd.read_pickle('/Users/joelfoo/Documents/carouhack_car_price/data/model.pkl')

In [10]:
x_train.iloc[0:1]

        coe  no_of_owners    arf  mileage  good_mileage  days_since_reg
3254  49802             1  44135    23280         False             476

In [45]:
x_new = pd.DataFrame(np.array([123,
                               5, 2, 3, True,
                                 5]).reshape(1,6), index=np.array(range(1, 2)), columns = coeff_list)

In [49]:
x_new = pd.DataFrame(np.array([123,
                                 2, 231, 15125, True,
                                 1123]).reshape(1, 6),
                                 index=np.array(range(1, 2)),
                                 columns=coeff_list)

In [50]:
x_new

   coe  no_of_owners  arf  mileage  good_mileage  days_since_reg
1  123             2  231    15125             1            1123

In [54]:
print(pickle.loads(model_dict["Toyota Wish 1.8A"]["lower"]).predict(x_new))
print(pickle.loads(model_dict["Toyota Wish 1.8A"]["predicted"]).predict(x_new))
print(pickle.loads(model_dict["Toyota Wish 1.8A"]["upper"]).predict(x_new))

[8483.52963603]
[8559.35888768]
[11262.21448834]

In [67]:
df_m = df[df['make model'] == 'Toyota Corolla Altis 1.6A']


    
#Mask 0 mileage with 15k * num years & coe with median

df_m

,make model,car_registration_date,coe,no_of_owners,mileage,arf,depreciation,days_since_reg,mileage_per_year,good_mileage
5050,Toyota Corolla Altis 1.6A,2017-05-31,51106,1,32500,19990,9280.0,547,21686.471664,False
5051,Toyota Corolla Altis 1.6A,2017-04-13,51765,1,36000,19990,8710.0,595,22084.033613,False
5052,Toyota Corolla Altis 1.6A,2017-03-13,48000,1,19800,17982,8190.0,626,11544.728435,True
5053,Toyota Corolla Altis 1.6A,2017-02-16,48401,1,10000,19990,9220.0,651,5606.758833,True
5054,Toyota Corolla Altis 1.6A,2017-02-06,50991,2,21000,16800,8310.0,661,11596.066566,True
5055,Toyota Corolla Altis 1.6A,2016-12-16,48000,1,39888,17982,7430.0,713,20419.523142,False
5056,Toyota Corolla Altis 1.6A,2016-12-16,48000,1,56000,19990,9040.0,713,28667.601683,False
5057,Toyota Corolla Altis 1.6A,2016-12-15,48000,1,20000,19990,9040.0,714,10224.089636,True
5058,Toyota Corolla Altis 1.6A,2016-12-13,52668,1,21000,19990,8330.0,716,10705.307263,True
5059,Toyota Corolla Altis 1.6A,2016-08-02,49000,2,17000,16800,7990.0,849,7308.598351,True
5060,Toyota Corolla Altis 1.6A,2016-07-08,49000,2,14600,16800,8530.0,874,6097.254005,True
5062,Toyota Corolla Altis 1.6A,2016-03-28,45000,1,73000,19589,9300.0,976,27300.204918,False
5063,Toyota Corolla Altis 1.6A,2016-02-25,46651,1,49000,19589,8280.0,1008,17743.055556,False
5064,Toyota Corolla Altis 1.6A,2016-01-27,51000,1,36300,17804,9890.0,1037,12776.759884,True
5065,Toyota Corolla Altis 1.6A,2016-01-11,54301,1,64936,17804,8410.0,1053,22508.679962,False
5067,Toyota Corolla Altis 1.6A,2015-12-29,54301,1,44222,17804,8310.0,1066,15141.679174,False
5068,Toyota Corolla Altis 1.6A,2015-12-14,42200,1,46619,17804,7080.0,1081,15740.920444,False
5069,Toyota Corolla Altis 1.6A,2015-11-13,56001,2,63000,17804,8310.0,1112,20678.956835,False
5071,Toyota Corolla Altis 1.6A,2015-10-14,55399,1,56000,19589,8430.0,1142,17898.423818,False
5072,Toyota Corolla Altis 1.6A,2015-10-05,57089,1,45000,17804,8590.0,1151,14270.199826,True
5073,Toyota Corolla Altis 1.6A,2015-09-22,57089,1,21000,19589,8970.0,1164,6585.051546,True
5075,Toyota Corolla Altis 1.6A,2015-03-16,61410,1,51576,14589,8820.0,1354,13903.426883,True
5076,Toyota Corolla Altis 1.6A,2014-08-28,62890,1,69000,13761,9200.0,1554,16206.563707,False
5077,Toyota Corolla Altis 1.6A,2014-08-21,62890,1,79800,13650,9240.0,1561,18659.192825,False
5079,Toyota Corolla Altis 1.6A,2014-05-20,60002,1,90000,13759,9290.0,1654,19860.943168,False
5080,Toyota Corolla Altis 1.6A,2013-07-29,73989,1,51000,15897,8510.0,1949,9551.051821,True
5081,Toyota Corolla Altis 1.6A,2013-04-17,61029,1,82222,15511,8900.0,2052,14625.258285,True
5082,Toyota Corolla Altis 1.6A,2013-03-11,68000,1,82644,15511,9350.0,2089,14439.952130,True
5083,Toyota Corolla Altis 1.6A,2013-03-11,68000,1,93000,15511,9350.0,2089,16249.401628,False
5084,Toyota Corolla Altis 1.6A,2012-12-31,71001,1,123349,14944,9610.0,2159,20853.351088,False
5086,Toyota Corolla Altis 1.6A,2012-12-10,78523,1,68464,14944,9750.0,2180,11463.009174,True
5087,Toyota Corolla Altis 1.6A,2012-12-07,73501,1,65600,14944,10010.0,2183,10968.392121,True
5088,Toyota Corolla Altis 1.6A,2012-08-27,59421,1,109619,14885,9170.0,2285,17510.256018,False
5089,Toyota Corolla Altis 1.6A,2012-08-23,59421,1,121269,14885,9460.0,2289,19337.346003,False
5090,Toyota Corolla Altis 1.6A,2012-08-16,59004,2,108331,14885,9780.0,2296,17221.609321,False
5092,Toyota Corolla Altis 1.6A,2012-06-15,64201,1,85000,15101,9650.0,2358,13157.336726,True
5094,Toyota Corolla Altis 1.6A,2012-05-16,62600,2,105000,14432,9370.0,2388,16048.994975,False
5095,Toyota Corolla Altis 1.6A,2012-04-18,54887,2,78432,15458,10410.0,2416,11849.205298,True
5096,Toyota Corolla Altis 1.6A,2011-11-23,38997,1,68095,14432,8890.0,2563,9697.493172,True
5097,Toyota Corolla Altis 1.6A,2011-11-03,53390,1,125000,14797,9000.0,2583,17663.569493,False
5099,Toyota Corolla Altis 1.6A,2011-08-22,50244,1,93000,15263,9900.0,2656,12780.496988,True
5100,Toyota Corolla Altis 1.6A,2011-08-15,53390,4,83534,14797,10460.0,2663,11449.459256,True
5102,Toyota Corolla Altis 1.6A,2011-06-27,42600,2,149000,15263,10910.0,2712,20053.466077,False
5103,Toyota Corolla Altis 1.6A,2011-06-24,53390,1,132000,15263,10950.0,2715,17745.856354,False
5104,Toyota Corolla Altis 1.6A,2011-02-14,46129,1,108000,16716,10130.0,2845,13855.887522,True
5105,Toyota Corolla Altis 1.6A,2011-02-14,39000,1,118341,16680,9730.0,2845,15182.588752,False
5106,Toyota Corolla Altis 1.6A,2011-01-27,39000,4,167000,16286,9390.0,2863,21290.604261,False
5107,Toyota Corolla Altis 1.6A,2010-12-03,39000,2,119723,16286,9790.0,2918,14975.632282,True
5108,Toyota Corolla Altis 1.6A,2010-11-23,32415,2,125371,16446,9830.0,2928,15628.557036,False
5109,Toyota Corolla Altis 1.6A,2010-11-12,34001,1,98000,16446,11010.0,2939,12170.806397,True
5111,Toyota Corolla Altis 1.6A,2010-06-01,27389,1,86108,16716,9570.0,3103,10128.720593,True
5112,Toyota Corolla Altis 1.6A,2010-05-12,26102,3,142000,16716,10060.0,3123,16596.221582,False
5113,Toyota Corolla Altis 1.6A,2010-05-12,26102,1,148766,16716,9930.0,3123,17386.996478,False
5114,Toyota Corolla Altis 1.6A,2010-04-28,20501,1,136317,17853,9860.0,3137,15860.919668,False
5115,Toyota Corolla Altis 1.6A,2010-02-26,20340,2,110000,16716,10140.0,3198,12554.721701,True
5116,Toyota Corolla Altis 1.6A,2010-01-16,18502,3,140115,17853,11870.0,3239,15789.433467,False
5117,Toyota Corolla Altis 1.6A,2009-12-29,18150,1,120900,17853,9750.0,3257,13548.817931,True
5118,Toyota Corolla Altis 1.6A,2009-12-10,16747,1,97069,17853,10530.0,3276,10815.074786,True
5122,Toyota Corolla Altis 1.6A,2009-08-05,11690,1,103800,17853,12950.0,3403,11133.411696,True

In [61]:
len(df_m['mileage'])

46